<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acre</title>
</head>
<body>
    <h2>
        O Acre é um dos sete estados situados na região Norte do Brasil. Sua capital é Rio Branco e a sigla AC.<br>
        A população acriana é de 830 mil habitantes, conforme a estimativa do IBGE (Instituto Brasileiro de Geografia e Estatística) para 2022.<br>
        A área do Acre chega a 164.173,429 km2, de acordo com o IBGE. Hoje, há 5,05 habitantes quilômetro quadrado do estado.<br>
        As cidades mais populosas, além da capital Rio Branco, são Cruzeiro do Sul, Feijó, Tarauacá e Sena Madureira. No total, o território abriga 22 municípios.
    </h2>
    <br>
    <h1> História </h1>
    <h2>
        O Acre só integrou o território brasileiro a partir de 1903, quando foi anexado após o movimento que ficou conhecido como Revolução Acriana. 
        O movimento ocorreu entre 6 de agosto de 1902 e 24 de janeiro de 1903, após a disputa pelo controle da exploração de seringais na região.
        Em 1912, o Acre foi decretado território federal e o controle era exercido por um governador nomeado pela Presidência da República. 
        Passou à condição de Unidade da Federação somente em 1962.
    </h2>
</body>
</html>