<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tocantins</title>
</head>
<body>
    <h2>
        O Estado do Tocantins está localizado na região Norte do Brasil. A capital é Palmas e a sigla TO.<br>
        Área: 227.720,569 km2<br>
        Limites: norte com o Maranhão, leste com Piauí e Bahia, ao sul com Goiás, a oeste com Pará e Mato Grosso<br>
        Número de municípios: 139<br>
        População: 1,5 milhão de habitantes, com base na previsão do IBGE para 2015<br>
        Gentílico: Tocantinense<br>
        Principais cidades: Palmas, Miracema, Aragraína, Natividade e Ximbilobá<br>
    </h2>
    <br>
    <h1> História </h1>
    <h2>
        O território hoje ocupado pelo Estado do Tocantins resultou das incursões promovidas por missionários católicos. Entre eles estava Frei Cristóvão de Lisboa, que fundou uma missão no local em 1625.
        Os bandeirantes também participaram do processo de colonização, com destaque para Bartolomeu Bueno, que ficou principalmente ao sul. As correntes de exploração do território demarcavam as diferenças entre o sul e o norte do Estado de Goiás.
        A parte norte, hoje ocupada por Tocantins, era marcada por transações comerciais com Maranhão e Pará. As necessidades econômicas definiram também os aspectos culturais das duas porções do território de Goiás.
        Por esses fatores, movimentos separatistas se iniciaram em 1821. Nessa data, líderes separatistas concentraram-se em Natividade e Cavalcante na tentativa de redesenhar o mapa do Brasil.
        O levante foi sufocado e, somente em 1965, retomado pelos chamados nortenses. A Câmara dos Deputados receberia em 1972 o projeto de divisão de Goiás aproveitando a proposta de revisão territorial da Amazônia Legal.
        A criação só se concretizou em 27 de julho de 1988, e um governo provisório administrou o estado até a conclusão das obras de Palmas, a capital.
    </h2>
</body>
</html>