h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    font-size: 60px;
}
body{
    background-color: rgb(52, 153, 111);
}
ul{
    list-style-type: none;
    text-align: center;
    
}
button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: aliceblue;
    height:  50px;
    width:  350px;
    border: 2px solid aliceblue;
    border-radius: 10px;
    margin-bottom: 20px;
    font-size: 20px;

}
img{
    height: auto;
    width: 25%;
}
.foto{
    text-align: center;
}

