<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Bahia </title>
</head>
<body>
    <h2>
        O Estado da Bahia está localizado na região Nordeste do Brasil.<br> 
        A capital é Salvador e a sigla BA. Quem nasce na Bahia é denominado baiano.<br>
        O território baiano é composto por 564.733.080 quilômetros quadrados, que são divididos em 417 municípios.<br> 
        Segundo o IBGE (Instituto Brasileiro de Geografia e Estatística) a população é de aproximadamente 15,2 milhões de pessoas.
    </h2>
    <br>
    <h1> História </h1>
    <h2> 
        A Bahia é o mais antigo estado brasileiro e, hoje, o mais populoso da região Nordeste. A colonização na região começou quando o navegador português Pedro Álvares Cabral aportou na Baía Cabrália, em 22 de abril de 1500.
        A primeira missa foi celebrada no local pelo frei franciscano Henrique Soares Coimbra em 26 de abril.
        A notícia do descobrimento foi levada para o rei português Dom Manuel I por Gaspar de Lemos, enquanto Cabral seguia para as Índias. Cabral chamou a região de Vera Cruz.
        No ano seguinte, o navegador Américo Vespúcio, que era florentino, inicia uma expedição de exploração do território. A expedição terminou somente em 1504.
        A Bahia foi palco das principais decisões do futuro do território hoje conhecido como Brasil. Desde o descobrimento foi alvo de invasões, revoltas e conflitos.
        A ocupação dos colonizadores só foi intensificada a partir de 1549, como resultado da crise financeira que Portugal atravessou após a crise dos portos. A ameaça de invasão por franceses também foi motivo para que o rei Dom João III optasse pela divisão do território em capitanias hereditárias.
        A estratégia favoreceria a colonização. Dessa maneira, o território foi dividido em cinco capitanias: a Capitania da Bahia de todos os Santos, doada para Francisco Pereira Coutinho; Porto Seguro, para Pero de Campos Tourinho; Ilhéus, doada a Jorge de Figueiredo Correia; Itaparica, para o Conde de Castanheira Dom Antônio de Athaíde e a do Recôncavo, que ficou sob o comando de Álvaro da Costa.
        Em 29 de março de 1549, Dom João III institui o governo geral, que fica sob a responsabilidade do fidalgo português Tomé de Souza. O governo foi substituído por Mem de Sá e este por Duarte da Costa.
        Os primeiros 12 governantes portugueses foram os responsáveis pela instituição dos primeiros povoados. Também trouxeram para a Bahia os representantes da Companhia de Jesus, que eram padres jesuítas.
    </h2>
</body>
</html>