<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Ceará </title>
</head>
<body>
    <h2>
    O Estado do Ceará está localizado na região Nordeste do Brasil. A capital é Fortaleza e a sigla CE.<br>

    Área: 148.886.308 quilômetros quadrados<br>
    Limites: leste com Rio Grande do Norte e Paraíba, sul com Pernambuco, oeste com Piauí e a norte com o oceano Atlântico<br>
    Número de Municípios: 184<br>
    População: 8,4 milhões, segundo o IBGE (Instituto Brasileiro de Geografia e Estatística)<br>
    Gentílico: quem nasce no Ceará é chamado cearense<br>
    </h2>
    <br>
    <h1> História </h1>
    <h2>
        A delimitação do atual território ocupado pelo estado do Ceará começou com a doação da Capitania Siará em 1535 para Antônio Cardoso de Barros.
        A fundação, contudo, ocorreu em 1603, por Pêro Coelho de Souza, que chamou a colônia de Nova Luzitânia.
        Entre os integrantes do grupo de colonizadores estava Martim Soares Moreno, com 17 anos na época. É atribuída a ele a fundação da região. Habilidoso, o rapaz negociava com indígenas, de quem conhecia os costumes e a língua.
        Essa característica auxiliou no combate aos franceses e holandeses que invadiram a região. Soares Moreno chegou ao posto de senhor da Capitania do Ceará em 1619, após sucessivas disputas de terra com os invasores.
        A região foi alvo de investidas de holandeses também em 1637 e 1649. O Ceará conquistou a autonomia somente em 1799. Integrou a Confederação do Equador.
        O desenvolvimento do estado foi impulsionado pelo investimento da navegação a vapor, a instalação de estradas de ferro e a iluminação a gás.
        O Estado do Ceará foi o primeiro a libertar os escravos negros em 1884.
    </h2>
</body>
</html>