<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NORDESTE</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/nordeste.css' %}">
</head>
<body>
    <ul>
        <h1> Nordeste </h1>
        <li><a href="ceara"><button> Ceará </button></a></li>
        <li><a href="bahia"><button> Bahia </button></a></li>
        <li><a href="pernambuco"><button> Pernambuco</button></a></li>
    </ul>
    <li class="foto">
        <img src="{% static 'img/cacto.png' %}" alt="">
    </li>
</body>
</html>