<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regiões</title>
    {% load static %} 
    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">

</head>
<body>
    <ul>
        <h1> Bem Vindo!</h1>
        <li><a href="nordeste"><button>Região Nordeste</button></a></li>
        <li><a href="norte"><button>Região Norte</button></a></li>
        
    </ul>
    <li class="foto">
        <img src="{% static 'img/terra.webp' %}" alt="">
    </li>

</body>
</html>